/* based on chris titus hyprland config: https://github.com/ChrisTitusTech/hyprland-titus */
* {
    font-family: Lekton Nerd Font Mono, monospace;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    /* background: rgba(20, 15, 15, 0.8); */ /* Brown ish */
    background: rgba(35, 42, 46, 0.9); /* bg_dim */
    color: #D3C6AA;
}

#workspaces button {
    padding: 5px;
    color: #4D4C43;
    margin-right: 5px;
}

#workspaces button.active {
    color: #D3C6AA;
}

#workspaces button.focused {
    color: #D3C6AA;
    background: #E67E80;
}

#workspaces button.urgent {
    color: #4D4C43;
    background: #DBBC7F;
}

#workspaces button:hover {
    color: #D699B6;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#memory,
#temperature,
#backlight {
    padding: 0px 10px;
}

#tray {
    margin-right: 10px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #E69875;
    margin-right: 5px;
}

#pulseaudio {
    color: #7FBBB3;
}

#battery {
    color: #A7C080;
}


